// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Fonts overrides

$font-family-serif:      "Vollkorn", Georgia, serif ;
$font-family-base:       $font-family-serif ;

// paleta

$rojo-chido: 			#A31621;


/*
 * Globals
 */

 @media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
	background: url('../papelculei.jpg');
  background-position: top;
}

// no colors in title links
h1 a { color : inherit !important }
h2 a { color : inherit !important }
h3 a { color : inherit !important }
h4 a { color : inherit !important }
h5 a { color : inherit !important }
h6 a { color : inherit !important }



/*
 * Override Bootstrap's default container.
 */

section#content .container {
  max-width: 750px;
}

/*
 * Masthead for nav
 */
.blog-masthead {
  // margin-bottom: 3rem;
  background-color: $rojo-chido;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
  box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Nav links */
nav .nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
nav .nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

nav /* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}

nav .nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.4rem;
  vertical-align: middle;
  content: "";
  border-right: .4rem solid transparent;
  border-bottom: .4rem solid;
  border-left: .4rem solid transparent;
}

/*
 * Blog Banner
 */
 header .banner {
  margin-top: 5rem  !important ;
  padding: 1.5rem 0 ;
  background-color: $rojo-chido;
  margin: 1.5rem 0;
  color: white;
}

header .site-name {
 font-size: 3rem;
}

header .subtitle {

}

section#base-main {
  margin-top:2rem;
}


/*
 * Main column and sidebar layout
 */


 /* Sidebar modules for boxing content */
 .sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */

 .blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}


/*
 * Footer
 */

 .blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

footer {
  height:2rem;
}


header .container {
  padding-left:0;
}


section#content  {
  .card {
    padding:1rem;
  // card variables
  background-color:transparent;
  border: thin solid #ccc;
  border-top: .2rem solid #ccc;
  // border-radius: 0px;
}

.img-thumbnail {
   
background-color:transparent;
border: thin dashed #edd;
// border-radius: 0px;
}


}




// custom quicktags:
.bg-transparent {
  background-color: transparent !important;
}