<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>

  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />

  <!-- Ensure proper rending and touch zooming for all devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- A google font -->
  <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700" rel="stylesheet">

  <!-- latest concatenated css file -->
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">
  {% endblock head %}

</head>

<body>

  <div class="fixed-top blog-masthead container-fluid">
    <div class="container-fluid">
      <nav class="nav blog-nav">   
        <a class="nav-link" href="{{ SITEURL }}/">Home</a>

        {% for title, link in MENUITEMS %}

        <a class="nav-link" href="{{ link }}">{{ title }}</a>

        {% endfor %}

        {% if DISPLAY_PAGES_ON_MENU %}
        {% for p in pages %}

        <a class="nav-link" {% if p == page %} class="active" {% endif %} href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>

        {% endfor %}
        {% else %}

        {% if DISPLAY_CATEGORIES_ON_MENU %}
        {% for cat, null in categories %}
        
        <a  class="nav-link" {% if p == page %} class="active" {% endif %} href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
        
        {% endfor %}
        {% endif %}

        {% endif %}
      </nav><!-- /#menu -->
    </div>
  </div>
  
  <header>
    <div class="banner container-fluid">
      <div class="container">
        
        <div class="container">
          <div class="site-name">{{ SITENAME }}
            <!-- <div class="lead subtitle">{{ AUTHOR }}</div> -->
          </div>
          {# <img class="img-fluid align-self-end text-right" src="{{ SITEURL }}/images/ginseng-grow-1.png"> #}

          <div id="typed-strings">
            <p>Hi, I am Sergio.</p>
            <p>.</p>
            <p>It seems ^1000 ok. ^500 :)</p>
          </div>
          <span id="typed"></span>


        </div>
      </div>
    </div>
  </header>

  <section id="base-main" class="container-fluid">  
    <!-- attention : ajax loads into this section section#base-main-->

    {% block content %}
    {% endblock %}

  </section>




  <footer id="contentinfo" class= "body">

    {# Load scripts #}
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/vendor.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/own.js"></script>

  </footer><!-- /#contentinfo -->

</body>
</html>
