<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>

  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />

  <!-- Ensure proper rending and touch zooming for all devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- A google font -->
  <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700" rel="stylesheet">

  <!-- latest concatenated css file -->
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">
  {% endblock head %}

</head>

<body>

  <header>

    <div class="blog-masthead container-fluid">
      <div class="container-fluid">
        <nav class="nav blog-nav">   
          <a class="nav-link active" href="{{ SITEURL }}/">Home</a>

          {% for title, link in MENUITEMS %}

          <a class="nav-link" href="{{ link }}">{{ title }}</a>

          {% endfor %}

          {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in pages %}

          <a class="nav-link" {% if p == page %} class="active" {% endif %} href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>

          {% endfor %}
          {% else %}

          {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% for cat, null in categories %}
          <a  class="nav-link" {% if p == page %} class="active" {% endif %} href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
          {% endfor %}
          {% endif %}

          {% endif %}
        </nav><!-- /#menu -->
      </div>
    </div>

    <div class="banner container-fluid">



      <div class="container">
        <div class="site-name">{{ SITENAME }}
          <div class="lead subtitle">{{ AUTHOR }}</div>
        </div>
        {# <img src="{{ SITEURL }}/images/ginseng-grow-1.png" alt=""> #}

      </div>
    </div>

  </header>

  <section id="base-main" class="container-fluid">  

    {% block content %}
    {% endblock %}

  </section>




  <footer id="contentinfo" class="body">

    <script type="text/javascript" src="{{ SITEURL }}/theme/js/vendor.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/own.js"></script>

   {#  <address id="about" class="vcard body">
      Powered by <a href="http://getpelican.com/">Pelican</a> and <a href="http://python.org">Python</a>

    </address><!-- /#about --> #}
  </footer><!-- /#contentinfo -->
</body>
</html>
