
{% extends "base.html" %}
{% block content %}
<section id="content"> 
	<!-- Ajax loads this section: section#content -->

	<div class="container">


		<div class="card-deck">
			<div class="card">
				<img class="card-img-top img-thumbnail" src="{{ SITEURL }}/images/black-cohosh.png" alt="Card image cap">
				<div class="card-block">
					<h4 class="card-title display-4 text-center">A</h4>
					<p class="card-text"></p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>

			<div class="card">
				<img class="card-img-top img-thumbnail" src="{{ SITEURL }}/images/poke-weed.png" alt="Card image cap">
				<div class="card-block">
					<h4 class="card-title display-4 text-center">A</h4>
					<p class="card-text"></p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>

			<div class="card">
				<img class="card-img-top img-thumbnail" src="{{ SITEURL }}/images/golden-seal.png" alt="Card image cap">
				<div class="card-block">
					<h4 class="card-title display-4 text-center">A</h4>
					<p class="card-text"></p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
		</div> <!-- /.card-deck -->


	</div><!-- /.container -->

	<div class="container my-5">
		---
	</div>

</section><!-- /#content -->
{% endblock content %}
