
{% extends "base.html" %}
{% block content %}
<section id="content"> 
	<!-- Ajax loads this section: section#content -->

	<div class="container">

		<div class="card-deck">
			<div class="card">
				<img class="card-img-top img-thumbnail" src="{{ SITEURL }}/images/black-cohosh.png" alt="Card image cap">
				<div class="card-block">
					<div class="display-4 card-title text-center">A</div>
					<p class="card-text"></p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>

			<div class="card">
				<img class="card-img-top img-thumbnail" src="{{ SITEURL }}/images/poke-weed.png" alt="Card image cap">
				<div class="card-block">
					<div class="display-4 card-title text-center">Be</div>
					<p class="card-text"></p>
					<p class="card-text"><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit..</small></p>
				</div>
			</div>

			<div class="card">
				<img class="card-img-top img-thumbnail" src="{{ SITEURL }}/images/golden-seal.png" alt="Card image cap">
				<div class="card-block">
					<div class="display-4 card-title text-center">C</div>
					<p class="card-text"></p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
		</div> <!-- /.card-deck -->


		<div id="typed-container" class="container text-center my-4">
			<span id="typed"></span>
		</div>

	</div><!-- /.container -->



</section><!-- /#content -->
{% endblock content %}
