
{% extends "base.html" %}
{% block content %}
<section id="content"> 
	<!-- Ajax loads this section: section#content -->

	<div class="container">

	<div class="container text-center mb-4">

			<div id="typed-strings">
				<p>Hi, I am Sergio</p>
				<p> Badillo.</p>
				<p>It seems ^1000 ok. ^500 :)</p>
			</div>
			<span id="typed"></span>
		</div>


		<div class="card-deck">
			<div class="card">
				<img class="card-img-top img-thumbnail" src="{{ SITEURL }}/images/black-cohosh.png" alt="Card image cap">
				<div class="card-block">
					<div class="display-4 card-title text-center">A</div>
					<p class="card-text"></p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>

			<div class="card">
				<img class="card-img-top img-thumbnail" src="{{ SITEURL }}/images/poke-weed.png" alt="Card image cap">
				<div class="card-block">
					<div class="display-4 card-title text-center">Be</div>
					<p class="card-text"></p>
					<p class="card-text"><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit..</small></p>
				</div>
			</div>

			<div class="card">
				<img class="card-img-top img-thumbnail" src="{{ SITEURL }}/images/golden-seal.png" alt="Card image cap">
				<div class="card-block">
					<div class="display-4 card-title text-center">C</div>
					<p class="card-text"></p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
		</div> <!-- /.card-deck -->


	</div><!-- /.container -->

	<div class="container my-5">
		---
	</div>

</section><!-- /#content -->
{% endblock content %}
